/* ---------- RESET CSS ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

li {
    list-style: none;
}

/* --------- COLORS --------- */
.primary {
    color: #19518f;
}

.primary-bg, .btn-primary {
    background-color: #19518f;
    color: #FFF;
}

/* --------- COMPONENTS --------- */
header {
    padding: 12px;
    width: 100%;
}

main, section, strong, img {
    margin: auto;
}

footer {
    padding: 40px;
    margin-top: 48px;
    width: 100%;
}

/* CONTAINERS */
.container {
    margin: auto;
    width: 650px;
}

.container > * {
    width: 100%;
}

/* HEADINGS */
h1 {
    font-size: 26px;
    margin: 24px 0;
    text-align: center;
}

h2 {
    font-size: 22px;
}

/* SEARCH FILTER - INPUTS & ERRORS MANAGMENT */
#searchFilter {
    background-color: #fff;
    box-shadow: 0px 12px 12px 4px #ddd;
    margin-bottom: 32px;
    padding: 24px 0;
    width: 100%;
}

input {
    border: 1px solid #ddd;
    border-radius: 24px;
    padding: 12px;
}

.error {
    border-color: red;
}

#errorMessage {
    color: red;
    font-size: 14px;
    height: 16px;
}

/* BUTTONS */
#searchButton {
    width: 240px;
}

.btn {
    border: 2px solid #19518f;
    border-radius: 24px;
    cursor: pointer;
    padding: 12px;
}

.btn-secondary {
    background-color: #fff;
    color: #19518f;
}

.btn-secondary:hover, .active {
    background-color: #19518f;
    color: #fff;
}

/* CARD */
.card {
    border: 2px solid #ddd;
    border-radius: 16px;
    box-shadow: 0 0 8px #ddd;
    cursor: pointer;
    padding: 24px;
    width: 100%;
}

.card.grid, .card.grid:last-child + li {
    flex: 1 0 calc(50% - 24px);
}

.card.grid:last-of-type {
    max-width: calc(50% - 12px);
}

.card:hover {
    background-color: #19518f;
    border-color: #19518f;
    color: #fff;
}

/* DIVIDER */
.divider {
    border-bottom: 1px solid #ddd;
}

/* SVG BG IMG */
#resultImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
}

.results-img {
    background-image: url('assets/results.svg');
}

.no-results-img {
    background-image: url('assets/no-results.svg');
}

.none {
    display: none;
}

/* --------- FLEXBOX RULES --------- */
.flex {
    display: flex;
}
.col {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.aic {
    align-items: center;
}
.aife {
    align-items: flex-end;
}
.jcsb {
    justify-content: space-between;
}
.gap-m {
    gap: 32px;
}
.gap-s {
    gap: 24px;
}
.gap-xs {
    gap: 16px;
}
.gap-xxs {
    gap: 12px;
}

/* TABLET & MOBILE */
@media screen and (max-width: 768px) {
    .container {
        padding: 0 16px;
        width: 100%;
    }
    section, #searchButton {
        width: 100%;
    }
    .mb-col {
        flex-direction: column;
        align-items: unset;
    }
}