/* ---------- RESET CSS ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

li {
    list-style: none;
}

/* --------- COLORS --------- */
.primary {
    color: #19518f;
}

.primary-bg {
    background-color: #19518f;
    color: #FFF;
}

/* --------- COMPONENTS --------- */
header {
    width: 100%;
    padding: 12px;
}

main, section, strong, img {
    margin: auto;
}

#searchFilter {
    padding: 24px 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 12px 12px 4px #ddd;
}

h1 {
    text-align: center;
    font-size: 26px;
    margin: 24px 0;
}

h2 {
    font-size: 22px;
    padding-top: 32px;
}

input {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 24px;
}

input.error {
    border-color: red;
}

button, select {
    border: 2px solid #19518f;
    padding: 12px;
    border-radius: 24px;
    cursor: pointer;
}

.controller {
    background-color: #fff;
    color: #19518f;
}

.controller:hover, .active {
    background-color: #19518f;
    color: #fff;
}

#searchButton {
    width: 240px;
}

#errorMessage {
    color: red;
    font-size: 14px;
    height: 16px;
}

.card {
    padding: 24px;
    border: 2px solid #ddd;
    border-radius: 16px;
    width: 100%;
}

.card.grid {
    flex: 1 0 calc(50% - 24px);
}

.container {
    width: 650px;
    margin: auto;
}

.container > * {
    width: 100%;
}

.divider {
    border-bottom: 1px solid #ddd;
}

#resultImg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
.results-img {
    background-image: url('assets/results.svg');
}
.no-results-img {
    background-image: url('assets/no-results.svg');
}
.none {
    display: none;
}

footer {
    width: 100%;
    padding: 40px;
    margin-top: 40px;
    position: relative;
    bottom: 0;
}

/* --------- FLEXBOX RULES --------- */
.flex {
    display: flex;
}
.col {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.aic {
    align-items: center;
}
.aife {
    align-items: flex-end;
}
.jcsb {
    justify-content: space-between;
}
.gap-m {
    gap: 32px;
}
.gap-s {
    gap: 24px;
}
.gap-xs {
    gap: 16px;
}
.gap-xxs {
    gap: 12px;
}

/* TABLET & MOBILE */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }
    section, #searchButton {
        width: 100%;
    }
    .mb-col {
        flex-direction: column;
        align-items: unset;
    }
}